<main>
       
       
    <!-- How  Apply Process Start-->
    <div class="single-slider slider-height d-flex align-items-center apply-process-area apply-bg pt-150 pb-150 landingslider">
        <div class="container">
            <!-- Section Tittle -->
            
            <!-- Apply Process Caption -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="process-cap">
                           <h5>Admin Login</h5>
                           
                           <form action="#">
                           <div class="mt-10">
                            <input type="text" name="admnlogin" placeholder="User Name"
                                onfocus="this.placeholder = ''" onBlur="this.placeholder = 'User Name'" required
                                class="single-input">
                            </div>
                            
                            <div class="mt-10">
                            <input type="password" name="admnlogin" placeholder="Password"
                                onfocus="this.placeholder = ''" onBlur="this.placeholder = 'Password'" required
                                class="single-input">
                            </div>
                           </form>
                           <br>
                           <a href="#" class="genric-btn success circle">Login </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                   
                </div>
                <div class="col-lg-4 col-md-6">
                    
                </div>
            </div>
         </div>
    </div>
    <!-- How  Apply Process End-->
   
</main>
