<div class="container">
    <!-- <div class="row"> -->
        <a routerLink="/employer/profile" class="genric-btn primary e-large">Profile</a>
        <a routerLink="" class="genric-btn primary e-large">Post a new requirement</a>
        <a routerLink="" class="genric-btn primary e-large">Manage requiremets</a>
        <a routerLink="" class="genric-btn primary e-large">Update application status</a>
        <a routerLink="" class="genric-btn primary e-large">Update offer details</a>
        <a routerLink="" class="genric-btn primary e-large">Logout</a>
    <!-- </div> -->
</div>