.tbheads li a{
    color: black;
    padding: 10px;
    line-height: 30px;    
}
.nav-tabs > li > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
  }
  .nav-tabs > li > a:focus{
    background-color: #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .prflbox{
    margin-top: 2px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    padding: 10px;
  }
  button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.errdisplay{
  color:red; 
  margin-left:10px;
}
.centeredbox {  
  position: fixed;
  top: 30%;
  left: 4%;   
}
.alrtbox{
  background-color: rgb(64, 186, 243);
}