

<section class="contact-section">
    <div class="py-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <span class="anchor" id="formLogin"></span>
          <div class="card rounded-0">
            <div class="card-header">
              
            </div>
            <div class="card-body">
  <div class="register-form">
    <form
      name="form"
      #f="ngForm"
      (ngSubmit)="f.form.valid && editProf()"
      novalidate>

      <p>Course details</p>
      <div class="input-group">

      <div class="form-group  col-md-6">
        <label> Course status</label>
        <input
          type="text"
          class="form-control"
          name="fullname"
          [(ngModel)]="Signin.courseStatus"
          
          #fullname="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && fullname.errors }"
        />
        <!-- <div *ngIf="f.submitted && fullname.errors" class="invalid-feedback">
          <div *ngIf="fullname.errors['required']">Fullname is required</div>
        </div> -->
      </div>
      
      <div class="form-group col-md-6">
        <label>Ict Marks</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="Signin.ictMarks"
          
          
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <!-- <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">Email is invalid</div>
        </div> -->
      </div>
    </div>
      <div class="form-group">
        <label>your Location</label>
        <input
          type="text"
          class="form-control"
          name="password"
          [(ngModel)]= "Signin.location"
          required
          minlength="6"
          maxlength="40"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf= "f.submitted && password.errors" class="invalid-feedback">
          <!-- <div *ngIf= "password.errors['required']">Password is required</div> -->
          <div *ngIf= "password.errors['minlength']">
            Password must be at least 3 characters
          </div>
          <!-- <div *ngIf="password.errors['maxlength']"> -->
            <!-- Username must not exceed 40 characters -->
          <!-- </div> -->
        </div>
      </div>
  
      <div class="form-group">
        <label>Are you ready to Relocate</label>
        <input
          type="text"
          class="form-control"
          name="readyto"
          [(ngModel)]= "Signin.readyToRelocate"
          
          #readyto="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && readyto.errors }"
        />
        <!-- <div *ngIf= "f.submitted && readyto.errors" class="invalid-feedback">
           <div *ngIf= "readyto.errors['required']">DWMS ID is required</div> 
        </div> -->
      </div>

  
      <div class="form-group">
        <label>Employment Status</label>
        <input
          type="text"
          class="form-control"
          name="contactNo"
          [(ngModel)]= "Signin.employmentStatus"
          
          #contactNo="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && contactNo.errors }"
        />
        <!-- <div *ngIf="f.submitted && contactNo.errors" class="invalid-feedback"> -->
          <!-- <div *ngIf="contactNo.errors['required']">CONTACT NUMBER is required</div> -->
        <!-- </div> -->
      </div>
      
        <p style="color:blue;"><strong>Education details</strong></p>

        <div class="input-group">
      <div class="form-group col-md-6" >
        <label>10th Marks</label>
        <input
          type="text"
          class="form-control"
          name="marks"
          [(ngModel)]= "Signin. educationMarks.Mark10"
          
          #marks="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && marks.errors }"
        />
        <!-- <div *ngIf= "f.submitted && marks.errors" class="invalid-feedback">
          <div *ngIf= "marks.errors['required']">10th Marks is required</div>
        </div> -->
      </div>

      <div class="form-group col-md-6">
        <label>12th Marks </label>
        <input
          type="text"
          class="form-control"
          name="Mark12"
          [(ngModel)]= "Signin.educationMarks.Mark12"
          
          #Mark12="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && Mark12.errors }"
        />
        <!-- <div *ngIf= "f.submitted && qualification.errors" class="invalid-feedback">
          <div *ngIf= "qualification.errors['required']">DWMS ID is required</div>
        </div> -->
      </div>
    </div>
    <div class="form-group ">
      <label>Highest qualification Mark</label>
      <input
        type="text"
        class="form-control"
        name="qualification"
        [(ngModel)]= "Signin.educationMarks.QualificationMark"
        
        #qualification="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && qualification.errors }"
      />
      <div *ngIf= "f.submitted && qualification.errors" class="invalid-feedback">
        <div *ngIf= "qualification.errors['required']">mark required</div>
      </div>
    </div>
      <!-- <div class="form-group">
        <label>stream</label>
        <input
          type="text"
          class="form-control"
          name="dwmsid"
          [(ngModel)]="Signin.graduation.branch"
          required
          #dwmsid="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && dwmsid.errors }"
        />
        <div *ngIf="f.submitted && dwmsid.errors" class="invalid-feedback">
          <div *ngIf="dwmsid.errors['required']">DWMS ID is required</div>
        </div>
      </div> -->
  
    
      <!-- <div class="form-group">
          <ng-container >
          <label for="courses">Choose course opted:</label>
            <select  type="text" class="form-control"name="courseInICT"
            [(ngModel)]="Signin.courseInICT"required #courseInICT="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && courseInICT.errors }" id="course" >
            <option *ngFor="let item of Course" [value]="item.course">{{item.course}}:{{item.category}}</option>
            </select>
            <div *ngIf="f.submitted && courseInICT.errors" class="invalid-feedback">
          <div *ngIf="courseInICT.errors['required']">please select your course</div>
        </div>
          </ng-container>
      </div> -->

      <div class="form-group">
        <label>Do you have a career break</label>
        <input
          type="text"
          class="form-control"
          name="careerBreak"
          [(ngModel)]= "Signin.careerBreak"
          
          #careerBreak="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && careerBreak.errors }"
        />
        <div *ngIf= "f.submitted && careerBreak.errors" class="invalid-feedback">
          <div *ngIf= "careerBreak.errors['required']">COURSE OPTED is required</div>
        </div>
      </div>
      
      
  
      <!-- <div class="form-group">
        <label>YOUR STREAM</label>
        <input
          type="text"
          class="form-control"
          name="stream"
          [(ngModel)]="Signin.stream"
          required
          #stream="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && stream.errors }"
        />
        <div *ngIf="f.submitted && stream.errors" class="invalid-feedback">
          <div *ngIf="stream.errors['required']">COURSE OPTED is required</div>
        </div>
      </div> -->
      
      <!-- <div class="form-group form-check">
        <input
          type="checkbox"
          lass="form-control"
          name="acceptTerms"
          
          class="form-check-input"
          required
          
          
        />
        <label for="acceptTerms" class="form-check-label">
          I have read and agree to the Terms
        </label> -->

        <!-- <div *ngIf="f.submitted && acceptTerms.errors" class="invalid-feedback">
          Accept Terms is required
        </div> -->
      <!-- </div> -->
      
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <button
          type="button"
          (click)="onReset(f)"
          class="btn btn-warning float-right">
          Reset
        </button> -->
      </div>
    </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
